pre {
    padding: 1em;
    border-radius: 0.25em;
    overflow-x: scroll;
    position: relative;

    font-family: 'Fira Mono', monospace;

    &::before {
        display: block;
        content: attr(data-lang);
        font-weight: bold;
        font-size: larger;
        border-bottom: .25rem solid var(--metaColor);
        margin-bottom: 0.5em;
        width: fit-content;
        padding: 0.25em;
    }


    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.copy-button {
    font-family: "NerdFontsSymbols Nerd Font";
    position: absolute;
    font-size: larger;
    top: 0.25em;
    right: 0.25em;
    border: none;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0.25em;
    border-radius: 0.25em;
    color: var(--fgColor);
    background-color: var(--bgColor);
    cursor: pointer;

    &:hover {
        background-color: var(--linkColor);
        color: var(--bgColor);
    }
}

code {
    color: var(--light);
    background-color: var(--dark);
    padding: .2rem .2rem 0rem .2rem;
    border-radius: .15rem;
    font-size: larger;
}

pre code {
    color: inherit;
    background-color: inherit;
    padding: 0;
    border-radius: inherit;
}

ul.toc {
    padding-left: 0.6em;

    .section::marker {
        font-family: 'NerdFontsSymbols Nerd Font';
        content: "\e5ff ";
    }

    .page::marker {
        font-family: 'NerdFontsSymbols Nerd Font';
        content: "\f15b ";
    }

    .heading::marker {
        font-family: 'NerdFontsSymbols Nerd Font';
        content: "\f453";
    }
}

// (Default) List Styling
ul {
    list-style: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

li {
    margin-bottom: .25rem;
}

ul li::marker {
    color: var(--metaColor)
}

ul li {
    list-style-type: '» ';
}

ul li:hover::marker {
    font-weight: 700;
    color: var(--linkColor)
}

// (Default) link styling
a {
    text-decoration: none;
    padding: 0 .2rem 0 .2rem;
    border-radius: .3rem;
    color: var(--linkColor);
}

a.plain {
    all: unset;

    &:focus,
    &:hover {
        all: unset;
        cursor: pointer;
    }
}

a:focus,
a:hover {
    background-color: var(--linkColor);
    color: var(--bgColor)
}

mark,
strong {
    all: unset;
    color: var(--metaColor);
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.anchor {
    position: relative;
    margin-left: -1.5em;
    margin-right: 0.2em;

    display: inline-block;
    padding: 0;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
}

blockquote {
    border-left: .25rem solid var(--metaColor);
    margin: 1rem;
    padding: 0 0 0 1rem;

    &::before {
        content: "note";
        text-transform: uppercase;
        font-weight: bold;
        color: var(--metaColor);
    }

    margin-top: 2em;
    margin-bottom: 2em;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    line-height: 1.1
}

thead th:first-child {
    width: 20%;
}

th {
    font-weight: 400;
}

td,
th {
    padding: .5rem;
    border: dashed .1rem var(--metaColor)
}

h1,
h2,
h3,
h4 {
    margin-top: 2em;

}