  :root {
      --inputBackground: #FFFFFF;
      --inputBorder: initial;
      --bgColor: #EEEEEE;
      --light: #EEEEEE;
      --fgColor: #41474E;
      --dark: #616c79;
      --metaColor: #D26878;
      --linkColor: #5690AF;
      --hovColor: #22453F;
      --bgSelect: #E2E2E2;
      --red: #D26878;
      --dimRed: #623039;
      --orange: #e08f67;
      --dimOrange: #926048;
      --yellow: #FFFAE1;
      --dimYellow: #D5C5A1;
      --green: #56AFA0;
      --dimGreen: #22453F;
      --blue: #5690AF;
      --dimBlue: #223844;
      --purple: #9271D6;
      --dimPurple: #47356C;
      --grey: #CBCDCD;
      --dimGrey: #646868;
  }