@import "variables.scss";

#search-parent {
  margin-top: 0.5em;
  grid-area: search;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}

#search {
  margin: 0.1em 1em 0.1em 1em;
  padding: 0.5em 1em;
  border-radius: 0.35em;
  border-style: solid;
}

@media (width > $step2) {
  #search-parent {
    justify-content: right;
  }

  #search {
    max-width: 30vw;
    text-align: right;
    min-width: 7em;
  }

  .search-results {
    width: 50vw;
  }
}

@media (width <=$step2) {
  #search-parent {
    justify-content: center;
    align-items: center;
    padding: 0em 1em;
  }

  #search {
    width: 100%;
    text-align: center;
  }

  .search-results {
    width: calc(100vw - 2em);
  }
}

.search-results {
  background-color: var(--bgColor);
  font-size: smaller;

  border: 1px solid var(--fgColor);
  margin: 0.1em 1em 1em 1em;
  border-radius: 0.35em;
  box-sizing: border-box;


  position: absolute;
  right: 0;
  display: none;

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
      background-color: inherit;
    }
  }

  li {
    padding: 0.75em;
    margin: 0;
    box-sizing: border-box;

    &:hover {
      background-color: var(--bgSelect);
    }

    list-style-type: none;

    a {
      display: block;
    }

    &:first-child {
      border-top-left-radius: 0.28em;
      border-top-right-radius: 0.28em;
    }

    &:last-child {
      border-bottom-left-radius: 0.28em;
      border-bottom-right-radius: 0.28em;
    }
  }
}


// Theme icon
.themeButton {
  color: var(--metaColor);
}

.icons {
  width: 2.0rem;
  height: 2.0rem;
  aspect-ratio: 1/1;
  display: inline-block;
  vertical-align: middle;
  color: var(--fgColor);
  fill: var(--fgColor);
  background-color: transparent;
}

.icons__background:hover {
  background-color: transparent;
  color: var(--metaColor);
}

.themeButton {
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  background-color: transparent
}

.dark .themeButton.dark,
.themeButton.light {
  display: none
}

.dark .themeButton.light {
  display: block
}

.themeSwitch {
  display: flex;
}