@use "sass:color";
@import "search.scss";
@import "variables.scss";
@import "content.scss";

#dark-mode-toggle-1 {
  --dark-mode-toggle-dark-icon: url("sun.svg");
  --dark-mode-toggle-light-icon: url("moon.svg");
  // --dark-mode-toggle-icon-size: 2rem;
  --dark-mode-toggle-icon-filter: invert(100%);
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('/fonts/DejaVuSansMNerdFontMono-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'DejaVu Sans Moano';
  src: url('/fonts/DejaVuSansMNerdFontMono-Bold.ttf');
  font-weight: bold;
}

body,
html,
.wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: 'DejaVu Sans Mono', sans-serif;
  font-size: large;
  background-color: var(--bgColor);
  color: var(--fgColor);
}

.wrapper {
  display: grid;
}

@media (min-width: $step1) {
  .wrapper {
    transition: 0.5s grid-template-columns ease;
    grid-template-columns: minmax(15em, 1fr) minmax(30em, 50em) 1fr;
    grid-template-rows: auto 10fr auto;
    grid-template-areas:
      "left        header      search"
      "toc         content     raside"
      "footer      footer      footer"
    ;
  }

  img {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (max-width: $step1) and (min-width: $step2) {
  .wrapper {
    transition: 0.5s grid-template-columns ease;
    grid-template-columns: 15em minmax(20em, 60em) 5em;
    grid-template-rows: auto 10fr auto;
    grid-template-areas:
      "left        header      search"
      "toc         content     raside"
      "footer      footer      footer"
  }

  aside.left {
    width: 15em;
  }
}

@media (max-width: $step2) {
  .wrapper {
    grid-template-areas:
      "header"
      "search"
      "toc"
      "content"
      "footer"
    ;
    grid-template-columns: 100vw;
    grid-template-rows: min-content 3em min-content auto 5em;
  }

  .content h1 {
    text-align: center;
  }

  aside.right {
    display: none;
  }

  aside.left {
    grid-area: toc;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 4em;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5em;

    .copyright {
      text-align: center;
    }
  }

  ul.toc {
    padding-left: 2em;
  }
}

@media (min-width: $step2) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
  }

  aside.left {
    position: fixed;
    top: 0;
    margin-left: 1em;
    padding-left: 1em;
  }
}

header {
  grid-area: header;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 0.5em;
  margin-left: 1em;
  margin-left: 1em;
  padding-bottom: 0;

  h1 {
    margin: 0;
    padding-bottom: 0;
  }
}

footer {
  padding: 1em;
  grid-area: footer;

  .breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;

    .breadcrumb {
      margin: 0;
      padding: 0;
      display: block;
    }

    span {
      margin: 0;
      padding: 0;
    }
  }
}

aside.left {
  grid-area: toc;
}

aside.right {
  grid-area: raside;
}

main {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin-left: 3em;
}

.content {
  width: 100%;
}

.toc {
  .selected {
    font-weight: bold;
  }
}

pre {
  padding: 1em;
  border-radius: 0.25em;
}

ul.toc {
  padding-left: 0.6em;

  // .section::marker, .page::marker {
  // font-size: larger;
  // }

  .section {
    list-style-type: " ";
  }

  .page {
    list-style-type: " ";
  }

  .heading {
    list-style-type: " ";
  }
}