{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
    {% include "head.html" %}
</head>
<body>
    <div class="wrapper">
      {% include "search.html" %}

      <aside class="left">
        {% block aside %}
        {% include "toc.html" %}
        {% endblock aside %}
      </aside>
      <aside class="right">
      </aside>
      <main>
            <div class="content">
              {% block content %}
              {% endblock content %}
            </div>
      </main>

      <footer>
      {% block breadcrumbs %}
      {% include "footer/breadcrumbs.html" %}

      {% include "footer/copyright.html" %}
      {% endblock breadcrumbs %}
      </footer>
    </div>
</body>
</html>
