<meta charset="UTF-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />

<!-- theming -->
<link rel="stylesheet" href="/dark.css" media="(prefers-color-scheme: dark),(prefers-color-scheme: no-preference)">
<link rel="stylesheet" href="/light.css" media="(prefers-color-scheme: light)">
<script defer type="module" src="{{ get_url(path='js/dark-mode-toggle.mjs') }}"></script>

<script defer src="{{ get_url(path='js/copy-code.js')}}"></script>
<script defer src="{{ get_url(path='js/scroll-select.js')}}"></script>
<script defer src="{{ get_url(path='js/search.js')}}"></script>
<script defer src="{{ get_url(path='elasticlunr.min.js') }}"></script>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="robots" content="index, follow" />
{% if page.title %}
{% set parent = page.ancestors | last() %}
{% set parent_section = get_section(path=parent) %}
{% set title = parent_section.title ~ ": " ~ page.title %}
{% elif section.title %}
{% set title = section.title %}
{% elif config.title %}
{% set title = config.title %}
{% endif %}
{% if title is not containing("🐻") %}
{% set title = "🐻 " ~ title %}
{% endif %}

{% if title %}
<title>{{ title }}</title>
{% endif %}

{% if page.permalink %}
{% set url = page.permalink %}
{% elif section.permalink %}
{% set url = section.permalink %}
{% elif config.base_url %}
{% set url = config.base_url %}
{% endif %}

{% block metatags %}
{% if title %}
<meta name="title" content="{{ title }}">
{% endif %}
{% if author %}
<meta name="author" content="{{ author }}">
{% endif %}
{% if description %}
<meta name="description" content="{{ description }}">
{% endif %}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ url | safe }}">
{% if title %}
<meta property="og:site_name" content="{{ config.title }}">
{% endif %}
{% if title %}
<meta property="og:title" content="{{ title }}">
{% endif %}
{% if description %}
<meta property="og:description" content="{{ description }}">
{% endif %}
{% if image %}
<meta property="og:image" content="{{ image }}">
{% endif %}
<link rel="canonical" href="{{ url | safe }}">
{% if image %}
<link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path=config.extra.favicon, trailing_slash=false) }}">
{% endif %}
{% endblock metatags %}

{% block css %}
<link rel="stylesheet" href="{{ get_url(path='style.css') }}" />
{% endblock css %}