<h3>Index</h3>
<ul class="toc">
    {% set root_section = get_section(path="_index.md") %}
    {% if section %}
    {% set current_section = section %}
    {% elif page %}
    {% set ancestor = page.ancestors | last() %}
    {% set current_section = get_section(path=ancestor) %}
    {% else %}
    {% set current_section = root_section %}
    {% endif %}

    {% if current_section.ancestors | length > 1 %}
    {% set csa = current_section.ancestors | last() %}
    {% set parent_section = get_section(path=csa)%}
    {% else %}
    {% set parent_section = current_section %}
    {% endif%}

    {% for path in root_section.subsections %}
    {% set s = get_section(path=path) %}
    <li>
        {% set class = "" %}
        {% if s == parent_section %}
        {% set class = "selected" %}
        {% endif %}
        <a href="{{ s.permalink | safe }}" class="{{ class }}">
            {{ macros::get_title(of=s) }}
        </a>

        <ul class="toc">
            {% for path in s.subsections %}
            {% set subsection = get_section(path=path) %}
            {% set class = "" %}
            {% if subsection == current_section %}
            {% set class = "selected" %}
            {% endif %}

            <li class="section">
                <a class="{{ class }}" href="{{ subsection.permalink | safe }}">
                    {{ macros::get_title(of=subsection) }}
                </a>
                {% if subsection == current_section %}
                {% if subsection.pages %}
                <ul class="toc">
                    {% for p in subsection.pages %}
                    {% set class = "" %}
                    {% if page and page == p %}
                    {% set class = "selected" %}
                    {% endif %}

                    <li class="page {{ class }}"><a href="{{ p.permalink }}">{{ macros::get_title(of=p) }}</a></li>

                    {%if page and page == p %}
                    <ul class="toc">

                        {% for p in page.toc %}
                        <li class="heading {{ class }}"><a href="{{ p.permalink }}">{{ macros::get_title(of=p) }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
            </li>
            {% endfor %}
            {% for p in s.pages %}
            <li class="page">
                {% set class = "" %}
                {% if page and page == p %}
                {% set class = "selected" %}
                {% endif %}
                <a href="{{ p.permalink | safe}}" class="{{ class }}">{{ macros::get_title(of=p) }}</a>


                {%if page and page == p %}
                <ul class="toc">

                    {% for p in page.toc %}
                    <li class="heading {{ class }}"><a href="{{ p.permalink }}">{{ macros::get_title(of=p) }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>